@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
  font-size: 16px;
  word-break: break-all;
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  /* width: 100%;
  height: 100%; */
  border: 0;
  vertical-align: middle;
  pointer-events: none;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  font-family: "Pretendard", sans-serif;
  color: #181818;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.64px;
  user-select: none;
  word-break: keep-all;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: default;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

input,
textarea {
  font-family: "Pretendard", sans-serif;
  resize: none;
}

/* temp */
header {
  background-color: #f5f5f6;
}
main {
  width: 100%;
  min-height: 500px;
  background-color: #f5f5f6;
  box-shadow: 0 0 16px #0000001a;
}
footer {
  width: 100%;
  min-height: 100px;
  background-color: #e9e9eb;
}

/* loading spinner */
.loding_spinner {
  color: #9b27b0;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
}
.loding_spinner div {
  transform-origin: 32px 32px;
  animation: spinner 1.2s linear infinite;
  box-sizing: border-box;
}
.loding_spinner div:after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 30px;
  width: 5px;
  height: 15px;
  border-radius: 30%;
  background: #9b27b0;
  box-sizing: border-box;
}
.loding_spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.loding_spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.loding_spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.loding_spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.loding_spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.loding_spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.loding_spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.loding_spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.loding_spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.loding_spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.loding_spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.loding_spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
